@media all and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v17-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v17-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  /*добавление базового стиля текста*/
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}
.img {
  max-width: 100%; /* фиксирование изображения в пределах контейнера*/
  height: auto; /* сжатие изображения пропорционально по высоте*/
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
.wrapper-full {
  /* для основной части страницы, начиная с places*/
  max-width: 1262px;
  margin: 0 auto;
}
.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  /* создание нижнего прочерка с помощью псевдоэлемента*/
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0; /*спозиционировали снизу*/
  left: 0;
}

/* Header styles start */
.header {
  position: fixed;
  top: 0; /* Фиксируем header в верхней части экрана*/
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 999;
}
.header_active {
  background: #0e1d28;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  /* Убираем отступ с последнего элемента list */
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none; /* Убираем подчеркивание */
}
.header__link:hover,            /* Псевдоклассы, для того чтобы ссылки реагировали на наведение, при табе и при клике*/
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}

/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 100vh;
  background: url(../img/Intro_bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 376px;
}

.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px; /* отступы*/
}

.intro__subtitle {
  max-width: 546px; /* ограничение по ширине*/
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5; /* нижнее подчеркивание*/
  margin-right: 60px;
  padding-left: 43px; /* отступ от кружка до текста */
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.search-form__field::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: white;
  background: #1b7dff;
  border: 0;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #0049aa;
}
/* Intro styles end */

/* Benefits styles */

.benefits {
  margin-bottom: 131px;
}
.benefits_wrap {
  max-width: 1262px;
  background-color: whitesmoke;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}
.benefits_title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-99.5%);
  background-color: whitesmoke;
}
.benefits_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}
.benefits_card {
  grid-column: span 1; /*карточки занимают по 1 колонке*/
  margin-bottom: 112px;
}
.benefits_card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}
.benefits_card-thumb {
  display: block;
}
.benefits_card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}
.benefits_card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}
.benefits_card-more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow.svg) no-repeat 95% center; /* анимация для стрелки*/
  transition: 0.2s all;
}
.benefits_card-more:hover,
.benefits_card-more:focus {
  background: url(../img/svg/arrow.svg) no-repeat right center; /* анимация для стрелки*/
}

/* Benefits styles end*/

/* Places styles start */
.places {
  margin-bottom: 131px;
}
.places_caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.places_title {
  margin-right: 15px; /* добавляем отступ,чтобы на уст-вах с маленьким экраном между эл-тами остался отступ*/
}

.places_view-all {
  font-size: 16px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow.svg) no-repeat right center;
  padding-right: 59px;
}
.places_view-all:hover,
.places_view-all:focus {
  opacity: 0.65;
}

.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.places_card {
  position: relative;
  overflow: hidden;
}
.places_card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(
    21,
    24,
    36,
    0.4
  ); /*red, green, blue, alpha(opacity - прозрачность*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.places_card:hover .places_card-pic {
  transform: scale(
    1.05
  ); /* при Hover по places_card элемент places_card-pic маштабируется 1,05 раз */
}
.places_card_size_lg {
  grid-column: span 3; /* для того,чтобы places_cards занимали 3 колонки */
}
.places_card_size_sm {
  grid-column: span 2; /* для того,чтобы places_card занимали 2 колонки */
}

.places_card-title {
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places_card-pic {
  width: 100%;

  transition: 0.15s;
}
.places_card-pic_size_lg {
  height: 354px;
  object-fit: cover; /*как изображение будем маштабироваться внутри контейнера*/
  /*! не работает*/
}
.places_card-pic_size_sm {
  height: 283px;
  object-fit: cover; /*как изображение будем маштабироваться внутри контейнера*/
  /*! не работает*/
}
.places_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Places styles end */

/* Tours styles start */
.tours {
  margin-bottom: 139px;
}
.tours-tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour-info {
  padding-left: 47px;
}
.tour-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}
.tour-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}
.tour-more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow.svg) no-repeat 95% center;
  transition: 0.2s all;
}
.tour-more:hover,
.tour-more:focus {
  opacity: 0.65;
}

/* Tours styles end */

/* Top places styles start */

.top {
  margin-bottom: 86px;
}
.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card {
  display: flex;
  flex-direction: column;
}

.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0;
}

.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(../img/svg/heart-ico.svg) no-repeat right;
  background-size: 16px;
  margin-right: 14px;
}
.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url(../img/svg/comment-ico.svg) no-repeat right;
  background-size: 14px;
}
.top__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more {
  width: 118px;
  padding: 12px 19px; /* 12 сверху и снизу, 19 слева и справа*/
  background: #006dfe;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: auto 0 0 0;
}
.top__card-more:hover,
.top__card-more:focus,
.top__card-more:active {
  background: #0e66da;
}
/* Top places styles end */

/* Footer styles start */

.footer {
  background: #0e1028;
  padding: 119px 0;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.footer__menu-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
  opacity: 0.75;
}
/* Footer styles end */
